:host {
  display: block;

  .ui-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
}
