:host {
  display: block;
}

.ui-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;

  label {
    font-size: 13px;
    font-weight: 500;
    color: #2d3748;

    &:not(:empty)::after {
      content: "*";
      color: #e53e3e;
      font-weight: 400;
      font-size: 12px;
      margin-left: 2px;
    }
  }

  input {
    border: 1px solid #4a5568;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
    background-color: #f7fafc;

    &:focus {
      border-color: #000;
    }

    &:hover {
      background-color: #edf2f7;
    }

    &[readonly] {
      background-color: #edf2f7;
      cursor: default;
    }
  }

  small {
    font-size: 12px;
  }

  .hint-message {
    color: #718096;
  }

  .error-message {
    color: #e53e3e;
  }

  &.is-filled input {
    background-color: #ffffff;
  }

  &.is-error {
    input {
      border-color: #e53e3e;
      background-color: #fff5f5;
    }
  }

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;

    input {
      background-color: #e2e8f0;
    }
  }
}
