:host {
  display: inline-block;

  .ui-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    border-radius: 999px;
    padding: 6px 12px;
    line-height: 1;

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }
  }

  .tag--success {
    background-color: #619B2E;
    color: #fff;
  }

  .tag--warning {
    background-color: #e12f2f;
    color: #fff;
  }

  .tag--danger {
    background-color: #fff1f0;
    color: #fff;
  }

  .tag--info {
    background-color: #f7f3e3;
    color: #fff;
  }
}
